@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-v12-latin-700.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* header
=====================================*/

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 40px 40px 40px;
}

.header._black {
  background-color: #444444;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav__item {
  margin-right: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  transition: 1.5s;
}

.nav__item:hover {
  color: #272323;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  transition: all 0.2s linear;
  background-color: #fff;
}

.burger::before,
.burger::after {
  content: "";
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  top: 50%;
  transform: translate(0px, -50%);
}

/*===================================================*/

/* intro
==================================================*/

.intro {
  height: 100vh;
  background-image: url("../img/introBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "Inter";
  padding-top: 280px;
}

.intro__inner .logo {
  padding-bottom: 33px;
}

.intro__inner .main__title {
  padding-bottom: 24px;
  font-size: 96px;
  font-weight: 700px;
  font-family: "Inter", sans-serif;
}

.intro__inner .main__description {
  font-size: 32px;
  padding-bottom: 48px;
  font-family: "Inter", sans-serif;
}

/* Button style
========================================*/

.button {
  display: inline-block;
  text-decoration: none;
  padding: 20px 45px;
  vertical-align: top;
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  text-transform: uppercase;
  transition: all 2s;
  font-family: "Inter", sans-serif;
}

.button:hover {
  background-color: black;
}

/*=================================================*/

/* Benefits
============================================*/

.benefits {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/bgbg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 144px 0;
}

.benefits .leftlist {
  list-style-type: none;
}

.benefits .rightlist {
  list-style-type: none;
}

.itemlf {
  padding-bottom: 48px;
}

.itemlf-content {
  width: 272px;
  position: relative;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
}

.itemlf-content--one::before {
  content: url("../img/indoor.png");
  position: absolute;
  left: auto;
  top: 0;
  left: -71px;
}

.itemlf-content--one::after {
  content: url("../img/indoor.png");
  display: block;
  position: absolute;
  right: -71px;
  top: 0;
  left: auto;
}

.itemlf-content--two::before {
  content: url("../img/petfriendly.png");
  position: absolute;
  right: auto;
  top: 0;
  left: -71px;
}

.itemlf-content--two::after {
  content: url("../img/petfriendly.png");
  display: block;
  position: absolute;
  right: -71px;
  top: 0;
  left: auto;
}

.itemlf-content--three::before {
  content: url("../img/tekaaway.png");
  position: absolute;
  right: auto;
  top: 0;
  left: -71px;
}

.itemlf-content--three::after {
  content: url("../img/tekaaway.png");
  display: block;
  position: absolute;
  right: -71px;
  top: 0;
  left: auto;
}

.itemlf-content__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.itemlf-content__description {
  font-size: 14px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.itemrl {
  padding-bottom: 48px;
}

.itemrl-content {
  width: 272px;
  position: relative;
  text-align: left;
  font-family: "Inter", sans-serif;
}

.itemrl-content--one::before {
  content: url("../img/wheelchair.png");
  position: absolute;
  right: auto;
  top: 0;
  left: -80px;
}

.itemrl-content--two::before {
  content: url("../img/veganoptions.png");
  position: absolute;
  right: auto;
  top: 0;
  left: -80px;
}

.itemrl-content--three::before {
  content: url("../img/cyclistfriendly.png");
  position: absolute;
  right: auto;
  top: 0;
  left: -80px;
}

.itemrl-content__title {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
}

.itemrl-content__description {
  font-size: 14px;
  line-height: 24px;
}

/*=======================================================*/

/* About 
=======================================================*/

.about {
  height: 432px;
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 90px;
  font-family: "Inter", sans-serif;
}

.about__description {
  padding-bottom: 48px;
}

/*===================================*/

/* Title and subtitle section
================================================*/

.section__title {
  font-size: 40px;
  padding-bottom: 24px;
  font-family: "Inter", sans-serif;
}

.section__title::after {
  content: "";
  display: block;
  border-bottom: 2px solid;
  color: white;
  width: 189px;
  padding-top: 24px;
  margin: 0 auto;
}

.section__subtitle {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

/*===================================================*/

/* menu
=========================================================*/

.menu {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #EEEEEE;
}

.menu__title {
  margin-top: 96px;
  font-family: "Inter", sans-serif;
}

.menu__title::after {
  color: black;
}

.tabs {
  margin: 48px 0 100px 0;
  /*&-buttons__drinks {
      display: inline-block;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-left: 20px;
  }*/
}

.tabs-buttons {
  display: flex;
  justify-content: center;
}

.tabs-buttons__menu {
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
}

.tabs-content__list {
  display: flex;
  flex-wrap: wrap;
}

.tabs-content__item {
  display: flex;
  justify-content: space-around;
  flex: 1 1 500px;
  margin: 24px;
  align-items: center;
  text-align: left;
  font-family: "Inter", sans-serif;
}

.tabs-content__inner {
  display: flex;
  flex-direction: column;
}

.tabs-content__title {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.tabs-content__description {
  font-size: 12px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

/*==================================================*/

/* Testimonials block
======================================================*/

.testimonials {
  width: 100%;
  background-image: url("../img/testimonialsBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.testimonials__title {
  color: white;
  padding: 96px 0;
  font-family: "Inter", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  align-content: center;
  height: auto;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide__content {
  font-size: 16px;
  width: 100%;
  height: 200px;
  max-width: 735px;
  color: white;
  line-height: 48px;
  font-family: "Inter", sans-serif;
}

.swiper-pagination-bullet-active {
  background: white;
}

/* ==================================================*/

/* News
======================================================*/

.news {
  background-color: #EEEEEE;
}

.news__title {
  color: black;
  padding-top: 97px;
  font-family: "Inter", sans-serif;
}

.news__title::after {
  content: "";
  display: block;
  border-bottom: 2px solid;
  color: #444444;
  width: 189px;
  padding-top: 24px;
  margin: 0 auto;
}

.news__description {
  color: black;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.news-content {
  display: grid;
  grid-template-columns: repeat(3, 356px);
  gap: 32px;
  justify-content: center;
  list-style-type: none;
}

.news-content__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  transition: 1.5s;
  margin: 0;
}

.news-content__item:hover {
  transform: scale(1.1);
}

.news-content__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  width: 352px;
  text-align: left;
  padding-top: 24px;
  font-family: "Inter", sans-serif;
}

.news-content__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.news-content__description {
  font-size: 16px;
  line-height: 24px;
}

.news-content__per {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin-top: 20px;
  text-align: left;
}

/*=====================================================*/

/* Locations block
============================================================*/

.location {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 100px;
}

.location::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url("../img/locationBG.jpg") center no-repeat;
  background-size: cover;
  filter: blur(10px);
}

.location__title {
  color: white;
  padding-top: 20px;
}

.location__title::after {
  content: "";
  display: block;
  border-bottom: 2px solid;
  color: white;
  width: 189px;
  padding-top: 24px;
  margin: 0 auto;
}

.location__description {
  color: white;
}

.location-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(246px, 246px));
  -moz-column-gap: 187px;
       column-gap: 187px;
  row-gap: 30px;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
  align-content: center;
  list-style-type: none;
}

.location-content__item {
  width: 100%;
  height: 100%;
  color: white;
}

.location-content__title {
  padding: 24px 0;
}

.location-content__inner {
  line-height: 24px;
}

/*=========================================================*/

/* Newslatter
============================================================*/

.newslatter {
  background-color: black;
}

.newslatter__title {
  color: white;
  padding-top: 96px;
}

.newslatter__title::after {
  color: white;
}

.newslatter__description {
  color: white;
}

.newslatter-form {
  padding: 30px 0;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.newslatter-form__input {
  width: 25%;
  height: 50px;
  outline: solid white 1px;
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 48px;
}

.newslatter-form__btn {
  width: 100px;
  height: 50px;
  margin-left: 25px;
  cursor: pointer;
  outline: solid white 1px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: white;
}

.newslatter-form__btn:hover {
  background-color: white;
  color: black;
}

/*===================================================*/

/* Footer
=========================================================*/

.footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 48px 0;
}

.footer__text {
  margin-bottom: 10px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer-list__item {
  margin-right: 46px;
  cursor: pointer;
}

.footer-list__item:last-child {
  margin-right: 0;
}

.footer-list__item:hover {
  font-size: 20px;
}

.footer-list__inner {
  text-decoration: none;
  color: white;
}

.footer-social {
  display: flex;
  list-style-type: none;
}

.footer-social__item {
  margin-right: 34px;
}

.footer-social__item:last-child {
  margin-right: 0;
}

.footer__svg {
  fill: black;
  width: 35px;
  height: 35px;
  border: solid 2px;
  border-radius: 20px;
  transition: all 1s;
}

.footer__svg:hover {
  transform: scale(1.2) 1s;
}

@media (min-width: 800px) {
  .itemlf-content--one::before {
    display: none;
  }

  .itemlf-content--two::before {
    display: none;
  }

  .itemlf-content--three::before {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: all 1s ease;
    position: absolute;
  }

  .nav._active {
    visibility: visible;
    opacity: 1;
    margin: 430px 0 0 0;
    width: 100%;
    right: 0;
    text-align: center;
    z-index: 1;
    background-color: #444444;
    overflow: hidden;
  }

  .nav__list {
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: #444444;
  }

  .nav-list__item {
    margin-bottom: 20px;
  }

  .nav__item {
    font-size: 30px;
    margin-right: 0;
  }

  .burger {
    display: block;
    width: 30px;
    height: 18px;
    z-index: 5;
    position: relative;
  }
}

@media (max-width: 1150px) {
  .news-content {
    grid-template-columns: repeat(1, 356px);
  }
}

@media (max-width: 800px) {
  .intro__inner .main__title {
    font-size: 60px;
  }

  .intro__inner .main__description {
    font-size: 25px;
  }

  .benefits {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .itemlf-content {
    text-align: left;
  }

  .itemlf-content--one::after {
    display: none;
  }

  .itemlf-content--two::after {
    display: none;
  }

  .itemlf-content--three::after {
    display: none;
  }

  .footer {
    flex-direction: column;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }

  .footer-list {
    flex-direction: column;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }

  .footer-list__item {
    margin: 0;
    margin-bottom: 15px;
  }

  .footer-social {
    flex-direction: column;
  }

  .footer-social__item {
    margin-bottom: 10px;
    margin: 0;
  }
}